# .clang-format style file for use in the EB corbos AdaptiveCore project.
# Usage: Put into directory or parent directory of source file, run
#     clang-format -style=file <source file>
# Copyright (C) 2017 Elektrobit Automotive GmbH. All rights reserved.
 
Language:        Cpp

###
# Indentation
###
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
IndentCaseLabels: false
IndentWidth:     4
IndentWrappedFunctionNames: false
NamespaceIndentation: None
TabWidth:        4
UseTab:          Never

###
# Alignment
###
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignOperands:   true
AlignTrailingComments: true

###
# Line breaks
###
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
BinPackParameters: true
#ExperimentalAutoDetectBinPacking: false
BreakBeforeBinaryOperators: None
BreakBeforeInheritanceComma: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializersBeforeComma: true 
BreakStringLiterals: true
ColumnLimit: 100 # EB Guidelines for programming in C++, Rule 106
CommentPragmas:  '\!LINKSTO|AXIVION|NOLINTNEXTLINE|\\[a-zA-Z]+'
ConstructorInitializerAllOnOneLineOrOnePerLine: true
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 60
ReflowComments:  true

###
# Braces style
###
# Ignored, since we don't use BreakBeforeBraces: Custom.
# Left in here for exposition only.
BraceWrapping:   
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   true
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false
BreakBeforeBraces: Stroustrup
Cpp11BracedListStyle: true

###
# Horizontal spacing
###
DerivePointerAlignment: false
ForEachMacros:   [ foreach, Q_FOREACH, BOOST_FOREACH ]
PointerAlignment: Left
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles:  false
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard:        Cpp11

###
# Vertical spacing
###
KeepEmptyLinesAtTheStartOfBlocks: true
MacroBlockBegin: ''
MacroBlockEnd:   ''
MaxEmptyLinesToKeep: 2

###
# Include files
###
# Include categories tailored to EB Adaptive Core
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^(<|")ara/com/'
    Priority:        10
    SortPriority:    10
  - Regex:           '^(<|")cara/com/'
    Priority:        10
    SortPriority:    11
  - Regex:           '^(<|")ac/com/'
    Priority:        10
    SortPriority:    12
  - Regex:           '^(<|")ara/core/'
    Priority:        20
    SortPriority:    20
  - Regex:           '^(<|")ac/core/'
    Priority:        20
    SortPriority:    21
  - Regex:           '^(<|")ac/psp/'
    Priority:        20
    SortPriority:    22
  - Regex:           '^(<|")ara/crypto/'
    Priority:        30
    SortPriority:    30
  - Regex:           '^(<|")cara/crypto/'
    Priority:        30
    SortPriority:    31
  - Regex:           '^(<|")ac/crypto/'
    Priority:        30
    SortPriority:    32
  - Regex:           '^(<|")ara/diag/'
    Priority:        40
    SortPriority:    40
  - Regex:           '^(<|")ac/dm/'
    Priority:        40
    SortPriority:    41
  - Regex:           '^(<|")ara/exec/'
    Priority:        50
    SortPriority:    50
  - Regex:           '^(<|")ac/exec/'
    Priority:        50
    SortPriority:    51
  - Regex:           '^(<|")ara/iam/'
    Priority:        60
    SortPriority:    60
  - Regex:           '^(<|")ac/iam/'
    Priority:        60
    SortPriority:    61
  - Regex:           '^(<|")ara/log/'
    Priority:        70
    SortPriority:    70
  - Regex:           '^(<|")ac/log/'
    Priority:        70
    SortPriority:    71
  - Regex:           '^(<|")ara/per/'
    Priority:        80
    SortPriority:    80
  - Regex:           '^(<|")ac/per/'
    Priority:        80
    SortPriority:    81
  - Regex:           '^(<|")ac/psp/lsv/'
    Priority:        90
    SortPriority:    90
  - Regex:           '^(<|")ac/phm/'
    Priority:        90
    SortPriority:    91
  - Regex:           '^(<|")ac/s2r/'
    Priority:        93
    SortPriority:    93
  - Regex:           '^(<|")ara/sm/'
    Priority:        95
    SortPriority:    95
  - Regex:           '^(<|")ac/sm/'
    Priority:        95
    SortPriority:    96
  - Regex:           '^(<|")cara/socom/'
    Priority:        97
    SortPriority:    97
  - Regex:           '^(<|")ara/tsyn/'
    Priority:        100
    SortPriority:    100
  - Regex:           '^(<|")ac/tsyn/'
    Priority:        100
    SortPriority:    101
  - Regex:           '^(<|")ara/ucm/'
    Priority:        110
    SortPriority:    110
  - Regex:           '^(<|")ac/ucm/'
    Priority:        110
    SortPriority:    111
  - Regex:           '^(<|")ara/udpnm/'
    Priority:        120
    SortPriority:    120
  - Regex:           '^(<|")ac/udpnm/'
    Priority:        120
    SortPriority:    121
  - Regex:           '^(<|")ac/lib/'
    Priority:        299
  - Regex:           '^(<|")ara/'
    Priority:        290
    SortPriority:    290
  - Regex:           '^(<|")cara/'
    Priority:        290
    SortPriority:    291
  - Regex:           '^(<|")ac/'
    Priority:        290
    SortPriority:    292
  - Regex:           '^(<|")(asio|botan|gtest|gmock|nlohmann|sqlite)'
    Priority:        400
  - Regex:           '^(<|")boost/'
    Priority:        410
  - Regex:           '^<[_a-z]+>'
    Priority:        500
  - Regex:           '^<[_/a-z0-9]+\.h>'
    Priority:        510
  - Regex:           '.*'
    Priority:        1
IncludeIsMainRegex: '((_|.)[a-z0-9]+)*$'
SortIncludes:    true

###
# Miscellaneous
###
DisableFormat:   false
FixNamespaceComments: true
